/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Header y Footer */
  header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  /* Lista de Productos */
  #product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 200px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  /* Carrito de Compras */
  #cart {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  #cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    margin: 10px 0;
  }
  
  #total-price {
    font-weight: bold;
  }
/* Estilos para el formulario */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para el botón de retroceder */
.back-button {
    position: fixed;  /* Fija el botón en la pantalla */
    top: 20px;        /* A 20px de la parte superior */
    left: 20px;       /* A 20px de la parte izquierda */
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;    /* Asegura que el botón se muestre por encima de otros elementos */
  }
  
  .back-button:hover {
    background-color: #555;
  }
  
    